
body {
	font-family: "SF Pro Display";
	background-color: #F2F2F2;
	color: #1F1F1F;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.bg-steel {
  background-color: #5f788a;
}

.nav-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  color: #1F1F1F;
}

.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.count {
  font: 800 40px system-ui;
}

.header_t{
	background-color: rgba(249, 249, 249, 0.75);
	backdrop-filter: blur(9px);
	border-bottom: 2px solid #CBCBCB
}

.content_big{
	padding: 3px 132px 60px 132px;
	border-bottom-right-radius:10px; 
	border-bottom-left-radius:10px;
}
.white_bg{
	background-color: white;
}
.shadow_lol{
	box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.16);
}

.nav-link:hover .nav-link:focus{
	color: #1F1F1F;
}


.button_txt {
	font-size: 15px;
	text-decoration: none;
	color: #787878;
}
.button_txt:hover { 
	text-decoration: none;
	color: #0071E3;
}
.lefties {
	margin-right: 30px;
}

.logo_sh {
	font-size: 20px;
	color: #1F1F1F;
	text-decoration: none;
	font-family: "SF Pro Display Semibold";
}
.logo_sh:hover {
	color: white;
	text-decoration: none;
}
.cmr-15px{
	margin-right: 15px;
}
.header_s {
	padding-top: 15px;
	padding-bottom: 15px;
}
.button_cont {
	border: 1px solid rgba(203, 203, 203, 0);
}
.button_cont:hover {
	border-color: rgba(203, 203, 203, 1);
}
.cpx-15{
	padding-right: 15px;
	padding-left: 15px;
	border-radius: 5px;
}
.dehigh {
	color: #CBCBCB;
}
.middle_mar{
	padding-right: 6px;
	padding-left: 6px;
	border-left: 1px solid #CBCBCB;
	border-right: 1px solid #CBCBCB;
	transition: 0.3s;
}
.left_mar {
	margin-left: 6px;
	transition: 0.3s;
}
.right_mar {
	margin-right: 6px;
	transition: 0.3s;
}
.sf_semibold {
	color: #1F1F1F;
	text-decoration: none;
	font-family: "SF Pro Display Semibold";
}
.sf_semibold_sel{}
.button_cont:hover .middle_mar{
	padding-right: 17px;
	padding-left: 17px;
	border-color: rgba(31, 31, 31, 0.5);
	border-width: 1px;
}
.button_cont:hover .left_mar{
	margin-left: 17px;
}
.button_cont:hover .right_mar{
	margin-right: 17px;
}
.button_cont:hover .sf_semibold_sel {
	color: #1F1F1F;
	text-decoration: none;
	font-family: "SF Pro Display Semibold";
}
.button_cont:hover .sf_semibold_sel:hover {
	color: #FFFFFF;
	text-decoration: none;
	font-family: "SF Pro Display Semibold";
}
.statss{
	margin-right: 61px; 
	margin-left: 61px;
}
.font_30px{
	font-size: 30px;
}

.pt-16px{
	margin-top: 16px;
}
.font_11px{
	font-size: 11px;
}
.positive_n{
	color: #2AA965;
}
.negative_n{
	color: #CC252C;
}
.nonews_n{
	color: #CBCBCB;
}
.mb-0px{
	margin-bottom: 0px;
}
.mt-0px{
	margin-top: 0px;
}
.smol_cont {
	padding: 3px 80px 60px 80px;
	margin: 0px 0px 30px 0px;
	border-bottom-right-radius:10px; 
	border-bottom-left-radius:10px;
}
.sidbar {
	margin-right: 0px;
	margin-top: 5rem;
	border-radius: 10px;
}
.sidbar_padding {
	padding: 30px 50px 30px 50px;
}
.bgbg_bg{
	background-image: url('/static/image/backdrop.jpeg');
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px; 
	background-size: 700px 300px;
	background-repeat: no-repeat;
  	background-position: center;
}
.bgbg_bgbg{
	background-image: url('/static/image/backdrop.jpeg');
	border-radius:10px;
	background-size: 700px 300px;
	background-repeat: no-repeat;
  	background-position: center;
}
.bgbg_bg2{
	background-image: url('/static/image/second.png');
	border-top-right-radius:10px;
	border-top-left-radius:10px; 
	background-size: 700px 300px;
	background-repeat: no-repeat;
  	background-position: center;
}
.bgbg_bgbg2{
	background-image: url('/static/image/second.png');
	border-radius:10px;
	background-size: 700px 300px;
	background-repeat: no-repeat;
  	background-position: center;
}
.imag_pudding {
	padding: 50px 50px 40px 50px;
}
.sf_semibold {
	color: #1F1F1F;
	text-decoration: none;
	font-family: "SF Pro Display Semibold";
}
.white_font {
	color: #FFFFFF;
}
.form_button_txt {
	font-size: 15px;
	text-decoration: none;
	color: #0071E3;
}
.form_button_txt:hover { 
	text-decoration: none;
	color: #EEEEEE;
}
.btn-outline-info {
  color: #FFFFFF;
  background-color: #0071E3;
  background-image: none;
}

.btn-outline-info:hover {
  color: #fff;
  background-color: #0091FF;
  border-color: #0091FF;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0px 15px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 100px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.pt7-sh{
	padding-top: 5.4rem;
}
.pt1-sh{
	padding-top: 1rem;
}
.x_margin{
	margin-right: 75px;
	margin-left: 75px;
}

.posts_bg {
	background-color: white;
	border: 1px solid #CBCBCB; 
	padding: 10px 80px 10px 0px;
	margin: 0px 0px -1px 0px;
}
.font_30 {
	font-size: 30px;
}
.imag_pudding2 {
	padding: 20px 50px 20px 50px;
}
.post_bgbg {
	background-image: url('/static/image/third.jpg');
	border-top-right-radius:10px;
	border-top-left-radius:10px; 
	background-size: 700px 300px;
	background-repeat: no-repeat;
  	background-position: center;
	border: 1px solid #CBCBCB;
	border-bottom: none;
}
.covid_bgbg {
	background-image: url('/static/image/fourth.jpg');
	border-top-right-radius:10px;
	border-top-left-radius:10px; 
	background-size: 700px 500px;
	background-repeat: no-repeat;
  	background-position: center;
	border: 1px solid #CBCBCB;
	border-bottom: none;
}
.imag_pudding3 {
	padding: 163px 50px 163px 50px;
}
.backgore{
	background-color: rgba(0, 0, 0, 0.20);
	backdrop-filter: blur(15px);
	border-top-right-radius:10px;
	border-top-left-radius:10px; 
	transition: 0.5s;
}
.backgore3{	
	background-color: rgba(200, 200, 200, 0.15);
	backdrop-filter: blur(3px);
	border-top-right-radius:10px;
	border-top-left-radius:10px; 
}
.backgore:hover{
	background-color: rgba(0, 0, 0, 0.15);
	backdrop-filter: blur(0px);
	border-top-right-radius:10px;
	border-top-left-radius:10px; 
}
.font_15px{
	font-size: 15px;
}
.sidbar_padding2{
	padding-right: 10px; 
	padding-left: 10px;
	padding-bottom:10px;
}
.img_reg{
	padding: 10px;
	margin-bottom: 10px;
}
.img_reg2{
	padding: 10px;
	margin-top: 10px;
}
.backgore2{
	background-color: rgba(0, 0, 0, 0.20);
	backdrop-filter: blur(15px);
	border-radius: 10px;
	transition: 0.5s;
	padding: 10px;
	margin-top: 10px;
}
.backgore2:hover{
	background-color: rgba(0, 0, 0, 0.15);
	backdrop-filter: blur(0px);
}
.form_button_txt_2 {
	font-size: 15px;
	text-decoration: none;
	color: #FFFFFF;
}
.form_button_txt_2:hover { 
	text-decoration: none;
	color: #FFFFFF;
}
.pt-stat{
	padding-top: 5.2rem;
}
.bgbg_bgbg_s{
	background-image: url('/static/image/stat.jpg');
	border-radius:10px;
	background-size: 1000px 300px;
	background-repeat: no-repeat;
  	background-position: center;
  	padding: 30px;
}
.content_sh {
		margin: 0px 75px 30px 75px;
}
.article_image{
	width: 150px
}
.profile_pic {
	border: 1px solid #cbd5db; 
	border-radius: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
}

.hot_bgbg {
	background-image: url('/static/image/third.jpg');
	border-top-right-radius:10px;
	border-top-left-radius:10px; 
	background-size: 1300px 500px;
	background-repeat: no-repeat;
  	background-position: center;
	border: 1px solid #CBCBCB;
	border-bottom: none;
}
.post_title{
	color: #0278AE;
}

.link_haha{
	text-decoration: none;
	font-size: 20px;
}
.link_haha:hover{
	text-decoration: none;
	color: white;
}

.sc_bgbg {
	background-image: url('/static/image/self_check.jpg');
	border-radius: 10px;
	background-size: 700px 300px;
	background-repeat: no-repeat;
  	background-position: center;
	border: 1px solid #CBCBCB;
	border-bottom: none;
}

.backgore_sc{	
	background-color: rgba(200, 200, 200, 0.15);
	backdrop-filter: blur(3px);
	border-radius: 10px;
}