{% extends 'index.html' %}

{% block body %}
	<div>
		<div class="white_bg content_big shadow_lol">
			<div class="pt-5">
				<div class="container pt-3">
			        <div class="chart" id="bargraph">
					    <script>
					        var graphs = {{plot | safe}};
					        Plotly.plot('bargraph',graphs,{});
					    </script>
					</div>
				</div>
				<div>
					<div>
						<h4>{{change}}</h4>
						<h4>{{today}}</h4>
						<h4>{{predict}}</h4> 
					</div>	
				</div>
			</div>
		</div>
	</div>
{% endblock %}