{% extends 'index.html' %}

{% block navbar %}
	<div class="cpx-15 button_cont">
		<a class="button_txt sf_semibold_sel right_mar sf_semibold black_1f" href="{{ url_for('front') }}">Homepage</a>
		<a class="button_txt middle_mar dehigh sf_semibold_sel" href="/#">Hot</a>
		<a class="button_txt dehigh sf_semibold_sel left_mar" href="{{ url_for('stats') }}">Stats</a>
	</div>
{% endblock %}
{% block body %}
<div class="pt7-sh">
	<div class="post_bgbg">
		<div class="backgore3 imag_pudding2 ">
			<p class="sf_semibold font_30 mb-0px white_font">Daily Updates</p>
		</div>
	</div>
    {% for post in posts %}
        <article class="media posts_bg">
          <div class="">
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
</div>
{% endblock %}
{% block sidebar %}
<div class="col-md-5">
  <div class="sidbar white_bg shadow_lol">
    <div class="covid_bgbg text-center">
    	<div class="backgore imag_pudding3 ">
	        <h4 class="sf_semibold white_font">Watch The COVID-19 Prediction</h4>
	        <h4 class="sf_semibold white_font">Powered by Artificial Intelligence</h4>
    	</div>
    </div>
      <ul class="list-group sidbar_padding2">
        <div class="text-center">
			<p class="mb-0 sf_semibold font_30px">Status Terbaru</p>
			<div class="row sf_semibold font_15px ">
				<div class="col-md-4 text-center">
					<p class="mb-0">New Cases</p>
					<span class="pt-16px mb-0px font_30px">{{change}}</span>
					<div class="font_11px">
						{% if compare > change %}
							<p class="positive_n mt-0px">{{news}} Decrease From Yesterday</p>
						{% elif compare == change %}
							<p class="nonews_n mt-0px">A steady increase</p>
						{% elif compare < change %}
							<p class="negative_n mt-0px">+{{news}} Increase From Yesterday</p>
						{% else %}
							<p class="nonews_n mt-0">Error</p>
						{% endif %}
					</div>
				</div>
				<div class="col-md-4 text-center">
					<p class="mb-0">Total Cases</p>
					<span class="pt-16px mb-0px font_30px">{{today}}</span>
				</div>
				<div class="col-md-4 text-center">
					<p class="mb-0">Next Week</p>
					<span class="pt-16px mb-0px font_30px">{{predict}}</span> 
					<div class="font_11px">
						{% if today > predict %}
							<p class="positive_n mt-0px">{{news2}} From Today</p>
						{% elif today < predict %}
							<p class="negative_n mt-0px">+{{news2}} From Today</p>
						{% else %}
							<p class="nonews_n mt-0">Error</p>
						{% endif %}
					</div>
				</div>
			</div>	
		</div>
      </ul>
    </p>
  </div>
</div>
{% endblock sidebar %}