{% extends "index.html" %}
{% block navbar %}
    <div class="cpx-15 button_cont">
        <a class="button_txt sf_semibold_sel right_mar dehigh" href="{{ url_for('front') }}">Homepage</a>
        <a class="button_txt middle_mar dehigh sf_semibold_sel" href="/#">Hot</a>
        <a class="button_txt sf_semibold_sel left_mar dehigh" href="{{ url_for('stats') }}">Stats</a>
    </div>{% endblock navbar %}
{% block body %}
    <div class="white_bg smol_cont shadow_lol pt-5">
        <div class="pt-5">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="bgbg_bgbg2 img_reg text-center">
                        <h4 class="sf_semibold white_font">Log In!</h4>
                    </div>                    
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.password.label(class="form-control-label") }}
                        {% if form.password.errors %}
                            {{ form.password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-check">
                        {{ form.remember(class="form-check-input") }}
                        {{ form.remember.label(class="form-check-label") }}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
                <small class="text-muted ml-2">
                    <a href="#">Forgot Password?</a>
                </small>
            </form>
            <div class="border-top pt-3 mt-3">
                <div class="bgbg_bgbg text-center">
                    <div class="backgore2">
                        <a class="form_button_txt_2 sf_semibold white_font" href="{{ url_for('register') }}">Butuh Akun?  Gabung Sekarang!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block sidebar %}
<div class="col-md-5">
  <div class="sidbar white_bg shadow_lol pb-5">
    <div class="bgbg_bg2 imag_pudding">
        <h4 class="sf_semibold white_font">Welcome Back</h4>
    </div>
       <div class="text-center px-4">
            <p class="mt-5 mb-0 sf_semibold font_30px">Status Terbaru</p>
            <div class="row sf_semibold font_15px ">
                <div class="col-md-4 text-center">
                    <p class="mb-0">New Cases</p>
                    <span class="pt-16px mb-0px font_30px">{{change}}</span>
                    <div class="font_11px">
                        {% if compare > change %}
                            <p class="positive_n mt-0px">{{news}} Decrease From Yesterday</p>
                        {% elif compare == change %}
                            <p class="nonews_n mt-0px">A steady increase</p>
                        {% elif compare < change %}
                            <p class="negative_n mt-0px">+{{news}} Increase From Yesterday</p>
                        {% else %}
                            <p class="nonews_n mt-0">Error</p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <p class="mb-0">Total Cases</p>
                    <span class="pt-16px mb-0px font_30px">{{today}}</span>
                </div>
                <div class="col-md-4 text-center">
                    <p class="mb-0">Next Week</p>
                    <span class="pt-16px mb-0px font_30px">{{predict}}</span> 
                    <div class="font_11px">
                        {% if today > predict %}
                            <p class="positive_n mt-0px">{{news2}} From Today</p>
                        {% elif today < predict %}
                            <p class="negative_n mt-0px">+{{news2}} From Today</p>
                        {% else %}
                            <p class="nonews_n mt-0">Error</p>
                        {% endif %}
                    </div>
                </div>
            </div>  
        </div>
  </div>
</div>
{% endblock sidebar %}