<!DOCTYPE html>
<html>
<head>
	{% if title %}
	<title>Smart Helper - {{title}}</title>
	{% else %}
	<title>Smart Helper</title>
	{% endif %}
  <link rel="icon" type="image/x-icon/" href="{{ url_for('static', filename='image/fav.ico') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap-grid.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='customCss/shelper.css') }}">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  <script src="{{ url_for('static', filename='customJs/c_js.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}" type="text/javascript"></script>

</head>
<body>
	<header class="site-header logo_col">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top shadow_lol header_t position-fixed header_s">
        <div class="container-fluid">
          <a class="logo_sh cmr-15px" href="/">S | Helper</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              {% block navbar %}
                
              {% endblock %}
            </div>
            <!-- Navbar Right Side -->
              <div class="navbar-nav">
                {% if current_user.is_authenticated %}
                  <a class="button_txt mr-3" href="{{ url_for('new_post') }}">New Post</a>
                  <a class="button_txt mr-3" href="{{ url_for('account') }}">Account</a>
                  <a class="button_txt"  href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                  <a class="button_txt mr-3" href="{{ url_for('login') }}">Login</a>
                  <a class="button_txt" href="{{ url_for('register') }}">Register</a>
                {% endif %}
              </div>
          </div>
        </div>
      </nav>
    </header>
    
	<main class="content_sh">
		{% block body %}
		{% endblock %}
	</main>
</body>

</html>

