
body {
	font-family: "SF Pro Display";
	background-color: #F2F2F2;
	color: #1F1F1F;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.bg-steel {
  background-color: #5f788a;
}

.nav-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  color: #1F1F1F;
}

.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.count {
  font: 800 40px system-ui;
}

.header_t{
	background-color: rgba(249, 249, 249, 0.70);
	backdrop-filter: blur(9px);
}

.content_big{
	padding: 3px 132px 60px 132px;
	margin: 0px 75px 75px 60px;
	border-bottom-right-radius:10px; 
	border-bottom-left-radius:10px;
}
.white_bg{
	background-color: white;
}
.shadow_lol{
	box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.16);
}

.nav-link:hover .nav-link:focus{
	color: #1F1F1F;
}


.button_txt {
	text-decoration: none;
	color: #787878;
}
.button_txt:hover {
	text-decoration: none;
	color: #0071E3;
}
.lefties {
	margin-right: 30px;
}

.logo_sh {
	color: #1F1F1F;
	text-decoration: none;
	font-family: "SF Pro Display Semibold";
}
.logo_sh:hover {
	color: white;
	text-decoration: none;
}